<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {{- if (in .Permalink "/filter/") -}}
            Filtering for "{{ .Title }}" · {{ .Site.Title }}
            {{- else -}}
            {{- block "title" . -}}{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} · {{ end }}{{ .Site.Title }}{{ end }}{{- end }}
            {{- end -}}
        </title>
        {{- partial "favicon.html" . -}}

        {{- partial "seo_tags.html" . -}}
        <meta name="referrer" content="no-referrer-when-downgrade" />

        {{ if or (eq .Kind "taxonomy") (and (eq .Kind "section") (eq .Section "blog")) }}
        {{ with .OutputFormats.Get "rss" }}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end }}
        {{ end }}

        {{- partial "fonts.html" . -}}
        {{- partial "style.html" . -}}
    </head>

    <body>
        <header>
            {{- partial "header.html" . -}}
        </header>

        <main>
            {{- block "main" . }}{{- end }}
        </main>
    </body>
</html>
