{{ define "main" }}
{{ .Content }}
{{ if .Data.Singular }}
<div id="filtering">
    <h3>Filtering for "{{ .Title }}"</h3>
    <small>
        <a href="{{ "blog" | relURL }}">Remove filter</a> · <a type="application/rss+xml" href="{{ .Permalink | relURL }}index.xml">RSS</a>
    </small>
</div>
{{ else }}
<div id="rss">
    <p>
        <a type="application/rss+xml" href="{{ "blog" | relURL }}/index.xml">RSS</a>
    </p>
</div>
{{ end }}
<ul class="blog-posts">
    {{ range .Pages }}
    <li>
  <span>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "2006/01/02" .Site.Params.dateFormat) }}
    </time>
  </span>
        <a href="{{ .Permalink | relURL }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
        No posts yet
    </li>
    {{ end }}
</ul>
{{ if .Data.Singular }}
{{else}}
<section id="tags">
    <p>
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink | relURL }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
    </p>
</section>
{{ end }}
{{ end }}
