{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<article>
    <section id="post-info">
        <h2>{{ .Title }}</h2>
        <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "2006, January 02" .Site.Params.dateFormat) }}
        </time>
    </section>

    {{ .Content }}
</article>
<section id="tags">
    <p>
        {{ range (.GetTerms "tags") }}
        <a href="{{ .Permalink | relURL }}">#{{ .LinkTitle }}</a>
        {{ end }}
    </p>
</section>
{{ end }}{{ else }}
{{ .Content }}
{{ end }}
{{ end }}
