:root {
    --font-family-sans: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    --font-family-mono: 'Courier New', 'Courier Prime', 'Courier', monospace;
    --color-background: #f0f0f0;
    --color-primary: #1d1d1f;
    --color-lighter: #515154;
    --color-accent: #06c;
    --color-code-text: #1d1d1f;
    --color-code-bg: #f5f5f7;
}

* {
    color: var(--color-primary)
}

html::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none /* Firefox */
}

body {
    font-family: var(--font-family-sans);
    font-weight: 300;
    font-size: 15px;
    margin: 0 auto;
    padding: 20px;
    max-width: 45em;
    text-align: left;
    background-color: var(--color-background);
    word-wrap: break-word;
    line-height: 1.5
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

header {
    font-weight: 300;
}

header svg {
    display: inline;
    width: 21px;
    margin-right: .333rem;
}

header h1 {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: .5rem
}

h2 {
    margin-bottom: .5rem
}

h3 {
    margin: 0.9em 0
}

.h2ash3 {
    margin: .9em 0;
    font-size: 1.17em;
}

p {
    margin: 12px 0
}

a,a:visited {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

.title,.title span {
    text-decoration: none;
    border: 0;
    font-weight: 400
}

nav a {
    margin-right: 10px
}

input,textarea {
    font-size: 16px;
    width: 100%
}

main {
    line-height: 1.6
}

img,table {
    max-width: 100%;
    width: 100%
}

code,pre code {
    font-family: var(--font-family-mono);
    color: var(--color-code-text);
    border-radius: 15px;
    font-size: 88%;
}

code {
    padding: 2px 5px;
    background-color: var(--color-code-bg);
}

pre code {
    color: var(--color-code-text);
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto
}

div.highlight code,div.highlight pre {
    background-color: initial;
    color: initial
}

blockquote,blockquote *:not(a),footer {
    color: var(--color-lighter);
}

blockquote {
    border-left: 1px solid var(--color-primary);;
    padding-left: 20px;
    font-style: italic
}

time {
    font-family: var(--font-family-mono);
    color: var(--color-lighter);
    font-size: 14px;
    letter-spacing: -0.05em;
}

footer {
    font-size: 10px;
    padding: 25px;
    text-align: center
}

ul.blog-posts {
    list-style-type: none;
    padding: 0
}

ul.blog-posts li {
    display: flex
}

ul.blog-posts li span {
    flex: 0 0 100px
}

#post-info {
    margin-bottom: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
}

#post-info h2 {
    margin-bottom: 0
}

#socials > div > dt > span {
    font-style: italic
}

#filtering {
    font-weight: 400;
}

#filtering h3 {
    margin-bottom: 0
}

small {
    line-height: 1.5;
}

#tags {
    font-size: smaller;
    line-height: 1.5;
    font-weight: 400;
}

#rss {
    margin-bottom: -15px;
    font-size: smaller;
    line-height: 1.5;
    font-weight: 400;
}

#rss p {
    margin-bottom: 0
}

@media screen and (max-width: 250px) {
    nav a {
        display: block;
    }
}

@media print {
    body {
        padding: 0 20px
    }
}
