:root {
    --serif-font-family: 'Inter', sans-serif;
    --monospace-font-family: 'Inconsolata', monospace;
    --color-background: #fff;
    --color-primary: #000;
    --color-secondary: #6e6e73;
    --color-accent-blue: #06c;
    --color-accent-purple: #b0b;
    --color-code-text: #000;
    --color-code-background: #f5f5f7
}

* {
    color: var(--color-primary)
}

body {
    font-family: var(--serif-font-family);
    margin: 0 auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: var(--color-background);
    word-wrap: break-word;
    line-height: 1.5
}

header h2 {
    margin-bottom: .5rem
}

a,a:visited {
    color: var(--color-accent-blue);
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.title,.title span {
    text-decoration: none;
    border: 0;
    font-weight: 400
}

nav a {
    margin-right: 10px
}

input,textarea {
    font-size: 16px;
    width: 100%
}

content {
    line-height: 1.6
}

img,table {
    max-width: 100%;
    width: 100%
}

code,pre code {
    font-family: var(--monospace-font-family);
    border-radius: 15px
}

code {
    padding: 2px 5px;
    background-color: var(--color-code-background)
}

pre code {
    color: var(--color-code-text);
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto
}

div.highlight code,div.highlight pre {
    background-color: initial;
    color: initial
}

blockquote,footer {
    color: var(--color-secondary)
}

blockquote {
    border-left: 1px solid var(--color-secondary);
    padding-left: 20px;
    font-style: italic
}

time {
    font-family: "Inconsolata",monospace
}

footer {
    font-size: 10px;
    padding: 25px;
    text-align: center
}

ul.blog-posts {
    list-style-type: none;
    padding: 0
}

ul.blog-posts li {
    display: flex
}

ul.blog-posts li span {
    flex: 0 0 100px
}

.photo-gallery {
    max-width: 576px;
    margin: 0 auto
}

.photo {
    padding: 32px 0 16px
}

.photo-data {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.photo-data * {
    margin: 0;
    padding: 0
}

.photo-data .camera-model,.photo-data .photo-date {
    font-size: 14px;
    font-family: "Inconsolata",monospace
}

.photo .camera-model {
    order: -1
}

/*
@media (prefers-color-scheme:dark) {
    :root {
        --color-background: #000;
        --color-primary: #fff;
        --color-secondary: #86868b;
        --color-accent-blue: #2997ff;
        --color-accent-purple: #f14bf1;
        --color-code-text: #fff;
        --color-code-background: #1d1d1f
    }
}
*/
