{{ $css := resources.Get "styles/main.css" }}
{{ $minifiedCSS := $css | resources.Minify }}
{{ $fingerprintedCSS := $minifiedCSS | resources.Fingerprint "sha384" }}
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self'; style-src 'self' '{{ $fingerprintedCSS.Data.Integrity }}' https://fonts.googleapis.com; form-action 'none'; frame-ancestors 'none'; block-all-mixed-content; base-uri 'none'">
<meta http-equiv="Strict-Transport-Security" content="max-age=63072000; includeSubDomains; preload">
<meta http-equiv="Referrer-Policy" content="no-referrer">
<meta http-equiv="X-Frame-Options" content="DENY">
<meta http-equiv="X-Content-Type-Options" content="nosniff">
<meta http-equiv="X-XSS-Protection" content="1; mode=block">
<meta http-equiv="Cross-Origin-Resource-Policy" content="same-origin">
<meta http-equiv="Cross-Origin-Embedder-Policy" content="require-corp">
<meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin">
<meta http-equiv="Feature-Policy" content="accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'; usb 'none'">
<meta http-equiv="Permissions-Policy" content="accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), clipboard-read=(), display-capture=(), document-domain=(), encrypted-media=(), fullscreen=(), geolocation=(), gyroscope=(), hid=(), idle-detection=(), interest-cohort=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), serial=(), usb=(), sync-xhr=(), xr-spatial-tracking=()">
<meta http-equiv="SameSite" content="Strict">