<link rel="preload" href="/fonts/averia-serif-libre-v16-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/averia-serif-libre-v16-latin-300.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/averia-serif-libre-v16-latin-700.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/averia-serif-libre-v16-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/averia-serif-libre-v16-latin-300italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/averia-serif-libre-v16-latin-700italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/courier-prime-v7-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/courier-prime-v7-latin-italic.woff2" as="font" type="font/woff2" crossorigin>